{
  "openapi": "3.0.0",
  "info": {
    "title": "HP PrintOS Site Flow API",
    "description": "API for managing print orders, including validation, submission, and status tracking.",
    "version": "1.0.0",
    "contact": {
      "name": "HP Developer Portal",
      "url": "https://developers.hp.com/"
    }
  },
  "servers": [
    {
      "url": "https://printos.api.hp.com/siteflow",
      "description": "Production server (for existing PrintOS customers)"
    },
    {
      "url": "https://stage.printos.api.hp.com/siteflow",
      "description": "Staging server (for 3rd parties)"
    }
  ],
  "paths": {
    "/api/order/validate": {
      "post": {
        "summary": "Validate an Order",
        "description": "Submits an order for validation without actually creating it.",
        "operationId": "validateOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderValidationRequest"
              },
              "example": {
                "destination": {
                  "name": "accountName"
                },
                "orderData": {
                  "sourceOrderId": "1234512345",
                  "items": [
                    {
                      "sku": "Business Cards",
                      "components": [
                        {
                          "code": "Content",
                          "fetch": true,
                          "path": "http://www.w2psite.com/businessCard.pdf"
                        }
                      ]
                    }
                  ],
                  "shipments": [
                    {
                      "shipTo": {
                        "name": "John Doe",
                        "companyName": "Acme",
                        "address1": "1234 Main St.",
                        "town": "Capitol",
                        "postcode": "12345",
                        "isoCountry": "US"
                      },
                      "carrier": {
                        "code": "fedex",
                        "service": "ground"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderValidationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/order": {
      "post": {
        "summary": "Submit an Order",
        "description": "Submits a new print order.\n\n**Duplicate detection:** If an order with the same `sourceOrderId` already exists for this store, the API returns HTTP **451** with the existing `order_id` in response details",
        "operationId": "submitOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderSubmissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSubmissionResponse"
                }
              }
            }
          },
          "451": {
            "description": "Order already exists — duplicate `sourceOrderId` detected for this store. The existing order ID is returned in the `X-Existing-Order-Id` header.",
            "headers": {
              "X-Existing-Order-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The order_id of the already-existing order."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "detail": "Order with sourceOrderId 'ORD-001' already exists (order_id=abc-123-def)."
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get All Orders",
        "description": "Retrieves a paginated list of orders.",
        "operationId": "getAllOrders",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Number of orders per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/order/{orderId}": {
      "get": {
        "summary": "Get an Order",
        "description": "Retrieves detailed information for a specific order by its ID.",
        "operationId": "getOrderById",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The unique identifier of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/order/{orderId}": {
      "put": {
        "summary": "Update an Order",
        "description": "Updates the destination and/or order data of an existing order.\n\nThe order can **only** be updated when it is in a cancellable state (`received`, `pending`, `validated`, `failed`, `errored`). Orders with status `printready`, `printed`, `shipped`, or `cancelled` will return HTTP **409 Conflict**.",
        "operationId": "updateOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The internal order ID (returned as `_id` in the order response).",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateRequest"
              },
              "example": {
                "destination": {
                  "name": "newAccountName"
                },
                "orderData": {
                  "sourceOrderId": "1234512345",
                  "items": [
                    {
                      "sku": "Business Cards",
                      "quantity": 2,
                      "components": [
                        {
                          "code": "Content",
                          "fetch": true,
                          "path": "http://www.w2psite.com/businessCard_v2.pdf"
                        }
                      ]
                    }
                  ],
                  "shipments": [
                    {
                      "shipTo": {
                        "name": "Jane Smith",
                        "isoCountry": "US"
                      },
                      "carrier": {
                        "code": "fedex",
                        "service": "express"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Neither 'destination' nor 'orderData' was provided.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Order not found or access denied.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "409": {
            "description": "Order cannot be updated because it is no longer in a cancellable state.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "detail": "Cannot update order with status 'printready'. Order must be in one of: received, pending, validated, failed, errored."
                }
              }
            }
          }
        }
      }
    },
    "/api/order/{sourceAccount}/{sourceOrderId}/cancel": {
      "put": {
        "summary": "Cancel Order",
        "description": "Cancels an existing order using the source account and source order ID.",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "name": "sourceAccount",
            "in": "path",
            "description": "The source.name of the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceOrderId",
            "in": "path",
            "description": "The user-generated sourceOrderId.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelledOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/file/resize": {
      "post": {
        "summary": "Resize PDF",
        "description": "Resizes all pages of an uploaded PDF to the specified dimensions.\n\n**Dimension formats:**\n- Points (plain number): `595`\n- Millimeters: `210mm`\n- Inches: `8.5in`\n- Named sizes: `a3`, `a4`, `a5`, `letter`, `legal`, `tabloid`\n\n**fit mode:**\n- `false` (default): Content is cropped or extended to the new size.\n- `true`: Content is scaled to fit within the new page while keeping the aspect ratio, centered.",
        "operationId": "resizePdf",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "width", "height"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The PDF file to resize."
                  },
                  "width": {
                    "type": "string",
                    "description": "Target page width, e.g. '210mm', '595pt', 'a4'.",
                    "example": "210mm"
                  },
                  "height": {
                    "type": "string",
                    "description": "Target page height, e.g. '297mm', '842pt', 'a4'.",
                    "example": "297mm"
                  },
                  "fit": {
                    "type": "boolean",
                    "description": "Scale content to fit the new page while keeping aspect ratio.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resize metadata returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PDFResizeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/file/resize/download": {
      "post": {
        "summary": "Download Resized PDF",
        "description": "Re-processes and returns the resized PDF as a downloadable binary file (`application/pdf`). Accepts the same parameters as `/api/file/resize`.",
        "operationId": "downloadResizedPdf",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "width", "height"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The original PDF file."
                  },
                  "width": {
                    "type": "string",
                    "description": "Same width used in the resize request.",
                    "example": "210mm"
                  },
                  "height": {
                    "type": "string",
                    "description": "Same height used in the resize request.",
                    "example": "297mm"
                  },
                  "fit": {
                    "type": "boolean",
                    "description": "Same fit flag used in the resize request.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resized PDF file returned as binary download.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "e.g. attachment; filename=\"myfile_resized.pdf\""
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/file/getpreupload": {
      "get": {
        "summary": "Get File Upload URLs",
        "description": "Retrieves pre-signed URLs for uploading a local file to cloud storage.",
        "operationId": "getFileUploadUrls",
        "parameters": [
          {
            "name": "MIME Type of file to upload (i.e. application/pdf)",
            "in": "query",
            "description": "The MIME type of the file to be uploaded.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/pdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URLs for upload and fetch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadUrlsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/product": {
      "get": {
        "summary": "Get Products",
        "description": "Retrieves a list of available products, including their components and attributes.",
        "operationId": "getProducts",
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/sku": {
      "get": {
        "summary": "Get SKUs",
        "description": "Retrieves a list of available SKUs.",
        "operationId": "getSkus",
        "responses": {
          "200": {
            "description": "List of SKUs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkusListResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OrderValidationRequest": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "orderData": {
            "$ref": "#/components/schemas/OrderData"
          }
        }
      },
      "OrderSubmissionRequest": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "orderData": {
            "$ref": "#/components/schemas/OrderData"
          }
        }
      },
      "OrderData": {
        "type": "object",
        "properties": {
          "sourceOrderId": {
            "type": "string"
          },
          "postbackAddress": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "shipments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Shipment"
            }
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string"
          },
          "sourceItemId": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "printQuantity": {
            "type": "integer"
          },
          "unitPrice": {
            "type": "number"
          },
          "unitCost": {
            "type": "number"
          },
          "unitWeight": {
            "type": "number"
          },
          "productDescription": {
            "type": "string"
          },
          "totalPages": {
            "type": "integer"
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Component"
            }
          }
        }
      },
      "Component": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "fetch": {
            "type": "boolean"
          },
          "path": {
            "type": "string"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "paperId": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": true
          },
          "colour": {
            "type": "object",
            "properties": {
              "side1": {
                "type": "string"
              },
              "side2": {
                "type": "string"
              }
            }
          },
          "finish": {
            "type": "object",
            "properties": {
              "side1": {
                "type": "string"
              },
              "side2": {
                "type": "string"
              }
            }
          }
        }
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "shipTo": {
            "$ref": "#/components/schemas/Address"
          },
          "carrier": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "service": {
                "type": "string"
              },
              "serviceId": {
                "type": "string"
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "address1": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "isoCountry": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "OrderValidationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "order": {
            "type": "object"
          }
        }
      },
      "OrderSubmissionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "order": {
            "$ref": "#/components/schemas/FullOrder"
          }
        }
      },
      "FullOrder": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "__v": {
            "type": "integer"
          },
          "destination": {
            "type": "object"
          },
          "source": {
            "type": "object"
          },
          "orderData": {
            "type": "object"
          },
          "logs": {
            "type": "array"
          },
          "files": {
            "type": "array"
          }
        }
      },
      "OrdersListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderSummary"
            }
          }
        }
      },
      "OrderSummary": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "destination": {
            "type": "object"
          },
          "source": {
            "type": "object"
          },
          "orderData": {
            "type": "object"
          }
        }
      },
      "OrderDetailsResponse": {
        "type": "object"
      },
      "CancelledOrderResponse": {
        "type": "object"
      },
      "OrderUpdateRequest": {
        "type": "object",
        "description": "At least one of 'destination' or 'orderData' must be provided.",
        "properties": {
          "destination": {
            "$ref": "#/components/schemas/Destination"
          },
          "orderData": {
            "$ref": "#/components/schemas/OrderData"
          }
        }
      },
      "OrderUpdateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "order": {
            "$ref": "#/components/schemas/FullOrder"
          }
        }
      },
      "Destination": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Account name for order destination."
          }
        }
      },
      "FileUploadUrlsResponse": {
        "type": "object",
        "properties": {
          "upload": {
            "type": "string",
            "description": "URL to upload the file to (e.g., Amazon S3)"
          },
          "fetch": {
            "type": "string",
            "description": "URL to be used in the order JSON for file retrieval"
          }
        }
      },
      "ProductsListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "productCode": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "components": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "SkusListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sku"
            }
          }
        }
      },
      "PDFResizeResponse": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string",
            "description": "Name of the resized PDF file."
          },
          "pages": {
            "type": "integer",
            "description": "Number of pages processed."
          },
          "original_size": {
            "$ref": "#/components/schemas/PageSize"
          },
          "target_size": {
            "$ref": "#/components/schemas/PageSize"
          },
          "fit_content": {
            "type": "boolean",
            "description": "Whether content was scaled to fit."
          }
        }
      },
      "PageSize": {
        "type": "object",
        "properties": {
          "width_pt": {
            "type": "number",
            "description": "Width in PDF points."
          },
          "height_pt": {
            "type": "number",
            "description": "Height in PDF points."
          },
          "width_mm": {
            "type": "number",
            "description": "Width in millimeters."
          },
          "height_mm": {
            "type": "number",
            "description": "Height in millimeters."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Human-readable error description."
          }
        }
      },
      "Sku": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "unitPrice": {
            "type": "number"
          },
          "unitCost": {
            "type": "number"
          }
        }
      }
    }
  }
}